.alert-box {
    background: var(--color-blue-50);
    border: 1px solid var(--color-blue-100);
    padding: 1rem;
    border-radius: 0.75rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.alert-box p {
    font-size: 0.75rem;
    color: var(--color-blue-700);
    margin: 0;
}

.label-export-form {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--color-gray-700);
    margin-bottom: 0.75rem;
}


.form-group {
    margin-bottom: 1.5rem;
}

.input-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.input-grid-todo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem;
  margin-bottom: 1rem;
  margin-top: -15px !important;
}


.todo-type-container {
    border: 1px solid #e2e8f0;
    border-radius: 1.25rem;
}

.btn-primary-export {
    width: 100%;
    background: var(--color-gray-900);
    color: var(--color-bg-primary);
    font-weight: 700;
    padding: 0.875rem;
    border: none;
    border-radius: 0.75rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition: background 0.2s;
}

.btn-primary-export:hover {
    background: black;
}

.btn-ghost-export {
    width: 100%;
    background: transparent;
    border-radius: 0.75rem;
    color: var(--color-gray-500);
    font-weight: 500;
    padding: 0.5rem;
    border: none;
    margin-top: 0.5rem;
    cursor: pointer;
}

.btn-ghost-export:hover {
    background: var(--color-gray-100);
}

.close-btn {
    background: transparent;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 50%;
    color: var(--color-gray-500);
}

.close-btn:hover {
  background: var(--color-gray-100);
}

