.color-ingresos { background-color: #f0fdf4; color: #16a34a; }
.color-egresos { background-color: #fef2f2; color: #dc2626; }
.color-estudiantes { background-color: #eff6ff; color: #2563eb; }
.color-general { background-color: #faf5ff; color: #7c3aed; }
.card-color-ingresos:hover{border-left: 2px solid #16a34a; }
.card-color-egresos:hover{border-left: 2px solid #dc2626; }
.card-color-estudiantes:hover{border-left: 2px solid #2563eb; }
.card-color-general:hover{border-left: 2px solid #7c3aed; }

.report-card {
    background-color: #ffffff;
    border-radius: 1.25rem;
    padding: 2rem;
    border: 1px solid #e2e8f0;
    cursor: pointer;
    transition: var(--transition);
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.report-card-enable:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
}

.report-card--enable {
  opacity: 1;
  filter: none;
}

.report-card-icon-box {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.report-card h3 {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0 0 0.5rem 0;
}

.report-card p {
    font-size: 0.9375rem;
    color: #64748b;
    margin-bottom: 1.5rem;
    flex-grow: 1;
}

.report-card-footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
    font-size: 0.875rem;
    transition: var(--transition);
}
