.color-ingresos { background-color: var(--color-green-50); color: var(--color-green-600); }
.color-egresos { background-color: var(--color-red-50); color: var(--color-red-700); }
.color-estudiantes { background-color: var(--color-blue-50); color: var(--color-blue-600); }
.color-general { background-color: #faf5ff; color: var(--color-purple-700); }
.card-color-ingresos:hover{border-left: 2px solid var(--color-green-600); }
.card-color-egresos:hover{border-left: 2px solid var(--color-red-700); }
.card-color-estudiantes:hover{border-left: 2px solid var(--color-blue-600); }
.card-color-general:hover{border-left: 2px solid var(--color-purple-700); }

.report-card {
    background-color: var(--color-bg-primary);
    border-radius: 1.25rem;
    padding: 2rem;
    border: 1px solid #e2e8f0;
    cursor: pointer;
    transition: var(--transition);
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: var(--shadow-sm);
}

.report-card-enable:hover {
    transform: translateY(-5px);
    box-shadow: var(--shadow-lg);
}

.report-card--enable {
  opacity: 1;
  filter: none;
}

.report-card-icon-box {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.report-card h3 {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0 0 0.5rem 0;
}

.report-card p {
    font-size: 0.9375rem;
    color: #64748b;
    margin-bottom: 1.5rem;
    flex-grow: 1;
}

.report-card-footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
    font-size: 0.875rem;
    transition: var(--transition);
}
