.container-payment{
    padding: 3rem 2rem;
}

@media (max-width: 1100px) {
    .container-payment {
        padding: 2rem 1.5rem;
    }
}

@media (max-width: 768px) {
    .container-payment {
        padding: 1.5rem 1rem;
    }
}

@media (max-width: 480px) {
    .container-payment {
        padding: 1rem 0.75rem;
    }
}

.header-container {
    display: flex;
    flex-direction: column; /* Columna en móvil */
    gap: 1rem;
    margin-bottom: 2rem;
}

/* Título de la Sección */
.section-title {
    color: var(--color-indigo-600);
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    letter-spacing: -0.025em;
}

/* Subtítulo / Descripción */
.section-description {
    color: var(--color-text-secondary);
    font-size: 0.875rem;
    margin-top: 0.25rem;
    margin-bottom: 0;
}

.header-container{
    max-width: 800px;
}

.filter-card {
    max-width: 800px;
}

/* Botón de Acción (Opcional, para el lado derecho) */
.header-actions {
    display: flex;
    align-items: center;
}

.alert-delete {
    background: #ffeff8;
    border: 1px solid #fedbe1;
    padding: 1rem;
    border-radius: 0.75rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.alert-delete p {
    font-size: 0.75rem;
    color: #d81d4f;
    margin: 0;
}

.btn-delete-confirm{
    width: 100%;
    background: var(--color-red-700);
    color: var(--color-bg-primary);
    font-weight: 500;
    padding: 0.5rem;
    border: none;
    margin-top: 0.5rem;
    cursor: pointer;
    border-radius: 0.75rem;
}

.btn-delete-confirm:hover{
    background: rgb(255, 216, 216);
    color: var(--color-red-700);
}

@media (min-width: 768px) {
    .header-container {
        flex-direction: row; /* Fila en escritorio */
        align-items: center;
        justify-content: space-between;
    }
}