.payment-page-container{
    padding-left: 20px;
    padding-top:  10px;
}

.expense-page-container{
    padding-left: 20px;
}

.student-page-container{
    padding-left: 20px;
}

.pricing-page-container{
    padding-left: 20px;
}

.report-page-container{
    padding-left: 20px;
}

.export-page-container{
    padding-left: 20px;
}