.card {
    background-color: #ffffff;
    padding: 1.25rem;
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
}

.card:hover {
    transform: translateY(-2px);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
}

.card.card-1 {
    border: 1px solid #e5e7eb;
    transition: border-color 0.15s ease;
    border-left: 4px solid #2563eb;
}

.card.card-1:hover{
    border-color:#2563eb;
}

.card.card-2 {
    border: 1px solid #e5e7eb;
    transition: border-color 0.15s ease;
    border-left: 4px solid #bc9b41;
}

.card.card-2:hover{
    border-color:#bc9b41;
}

.card.card-3 {
    border: 1px solid #e5e7eb;
    transition: border-color 0.15s ease;
    border-left: 4px solid #8551fd;
}
.card.card-3:hover{
    border-color: #8551fd;
}

.card-icon {
    width: 3rem;
    height: 3rem;
    background-color: #dbeafe;
    color: #2546eb;
    border-radius: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-icon-1 {
    background-color: #dbeafe;
    color: #2546eb;
}
.card-icon-1:hover {
    background-color: #153764;
    color: #ffffff;
}

.card-icon-2 {
    background-color: #f7da8b;
    color: #bc9b41;
}
.card-icon-2:hover {
    background-color: #f08902;
    color: #ffffff;
}

.card-icon-3 {
    background-color: #bca0ff;
    color: #8551fd;
}
.card-icon-3:hover {
    background-color: #4815be;
    color: #ffffff;
}

.card-title-price {
    font-size: 1.25rem;
    font-weight: 600; 
    margin-bottom: 0.5rem; 
    color: #1f2937;
    margin: 0
}
.card-category {
    font-size: 0.75rem;
    color: #9ca3af;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.05em;
}
.amount {
    font-size: 1.5rem;
    font-weight: 900;
    color: #059669;
}