.card {
    background-color: var(--color-bg-primary);
    padding: 1.25rem;
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: var(--shadow-sm);
}

.card:hover {
    transform: translateY(-2px);
    box-shadow: var(--shadow-lg);
}

.card.card-1 {
    border: 1px solid var(--color-border-light);
    transition: border-color 0.15s ease;
    border-left: 4px solid var(--color-blue-600);
}

.card.card-1:hover{
    border-color: var(--color-blue-600);
}

.card.card-2 {
    border: 1px solid var(--color-border-light);
    transition: border-color 0.15s ease;
    border-left: 4px solid #bc9b41;
}

.card.card-2:hover{
    border-color:#bc9b41;
}

.card.card-3 {
    border: 1px solid var(--color-border-light);
    transition: border-color 0.15s ease;
    border-left: 4px solid #8551fd;
}
.card.card-3:hover{
    border-color: #8551fd;
}

.card-icon {
    width: 3rem;
    height: 3rem;
    background-color: var(--color-blue-100);
    color: #2546eb;
    border-radius: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-icon-1 {
    background-color: var(--color-blue-100);
    color: #2546eb;
}
.card-icon-1:hover {
    background-color: #153764;
    color: var(--color-bg-primary);
}

.card-icon-2 {
    background-color: #f7da8b;
    color: #bc9b41;
}
.card-icon-2:hover {
    background-color: #f08902;
    color: var(--color-bg-primary);
}

.card-icon-3 {
    background-color: #bca0ff;
    color: #8551fd;
}
.card-icon-3:hover {
    background-color: #4815be;
    color: var(--color-bg-primary);
}

.card-title-price {
    font-size: 1.25rem;
    font-weight: 600; 
    margin-bottom: 0.5rem; 
    color: var(--color-text-primary);
    margin: 0
}
.card-category {
    font-size: 0.75rem;
    color: var(--color-text-muted);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.05em;
}
.amount {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--color-emerald-600);
}